{
    "env": {
      "browser": true,
      "es2020": true,
      "node": true,
      "jest": true
    },
    "extends": [
      "plugin:react/recommended",
      "plugin:prettier/recommended",
      "plugin:sonarjs/recommended",
      "plugin:jest/recommended"
    ],
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": 11,
      "sourceType": "module"
    },
    "plugins": ["@typescript-eslint", "prettier", "react", "react-hooks", "import"],
    "rules": {
      "react/jsx-filename-extension": [0],
      "react/jsx-props-no-spreading": 0,
      "import/prefer-default-export": 0,
      "no-unused-vars": "warn",
      "react/jsx-no-useless-fragment": "error",
      "react/react-in-jsx-scope": "off",
      "react-hooks/rules-of-hooks": "error",
      "react/no-array-index-key": 0,
      "react/no-children-prop": "error",
      "react/no-danger": "error",
      "react/no-deprecated": "error",
      "react/no-unescaped-entities": "error",
      "react/no-unknown-property": "error",
      "react/no-unsafe": "error",
      "react/no-unused-prop-types": "error",
      "react/no-is-mounted": "error",
      "no-undef": "error",
      "no-duplicate-imports": "error",
      "import/first": "error",
      "import/no-cycle": "error",
      "import/no-deprecated": "error",
      "import/no-relative-parent-imports": "error",
      "sort-imports": [
        "off",
        {
          "ignoreCase": false,
          "ignoreDeclarationSort": false,
          "ignoreMemberSort": false,
          "memberSyntaxSortOrder": ["none", "all", "multiple", "single"],
          "allowSeparatedGroups": false
        }
      ],
      "@typescript-eslint/ban-ts-comment": [
        "error",
        {
          "ts-ignore": "allow-with-description",
          "minimumDescriptionLength": 5
        }
      ],
      "sonarjs/no-duplicate-string": "off"
    },
    "overrides": [
      {
        "files": ["*.ts", "*.tsx"],
        "parser": "@typescript-eslint/parser",
        "extends": [
          "plugin:@typescript-eslint/eslint-recommended",
          "plugin:@typescript-eslint/recommended"
        ],
        "rules": {
          "no-undef": "off",
          "no-unused-vars": "off",
          "@typescript-eslint/no-explicit-any": "off",
          "@typescript-eslint/no-non-null-assertion": "off"
        }
      }
    ],
    "settings": {
      "react": {
        "pragma": "React",
        "version": "detect"
      }
    }
}