{
    "printWidth": 90,
    "singleQuote": true,
    "semi": false,
    "trailingComma": "es5",
    "endOfLine": "auto",
    "overrides": [
      {
        "files": ["*.css", "*.json"],
        "options": {
          "singleQuote": false
        }
      }
    ]
  }